<div>
 <h2>Edit Comment here <h3>
  <%= form_with model: @comment, url: post_comment_path(@comment.post, @comment) do |form| %>
    <p>Commenter<%= form.text_field :name %></p>
      <p>Comment<%= form.text_field :body %></p>
      <%= form.submit %>
  <% end %>
</div>  
  