<!DOCTYPE html>   
<html>   
<head>   
  <title>Layout Example</title>  

</head>   
<body>   
    <h1>Layout Example</h1>   
    <%= yield %>   
    <p>Ruby on rails </p>                                             
</body>   
</html>  